@model AddPerformerViewModel

@{
    ViewBag.Title = "Add Performer";
}

<h2 class="text-center">@ViewBag.Name</h2>

<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post" action="Add">

            <div class="mb-3">
                <label asp-for="@Model.Name" class="form-label">Name</label>
                <input asp-for="@Model.Name" class="form-control" aria-required="true" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.GenreId" class="form-label">GenreId</label>
                <input asp-for="@Model.GenreId" class="form-control" aria-required="true" />
                <span asp-validation-for="GenreId" class="text-danger"></span>
                <select asp-for="GenreId" class="form-control" asp-items="ViewBag.GenreId">​</select>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Description" class="form-label">Description</label>
                <input asp-for="@Model.Description" class="form-control" aria-required="true" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.ImageUrl" class="form-label">ImageUrl</label>
                <input asp-for="@Model.ImageUrl" class="form-control" aria-required="true" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Email" class="form-label">Email</label>
                <input asp-for="@Model.Email" class="form-control" aria-required="true" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Phone" class="form-label">Phone</label>
                <input asp-for="@Model.Phone" class="form-control" aria-required="true" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Type" class="form-label">Type</label>
                <input asp-for="@Model.Type" class="form-control" aria-required="true" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Rating" class="form-label">Rating</label>
                <input asp-for="@Model.Rating" class="form-control" aria-required="true" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Experince" class="form-label">Experience</label>
                <input asp-for="@Model.Experince" class="form-control" aria-required="true" />
                <span asp-validation-for="Experince" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Price" class="form-label">Price</label>
                <input asp-for="@Model.Price" class="form-control" aria-required="true" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>
    </div>
</div>
