@model List<GigBookin.Models.Entities.Event>;
@{
        ViewBag.Name = "Events";
}

<div class="text-center-row eventt-container">
    <br>
    @foreach (var eventt in Model)
    {
    <div class="event-card-container">
        <div class="card event-card mb-4">

            <div class="img-container" style="width:300px;height:350px;">
                <img class="card-img-top" style="width:17rem;height:20rem;margin-left:13px;" src="@eventt.ImageUrl" alt="EventImage">
            </div>
            <div class="card-body">
                <h5 class="card-title mt-1">@eventt.Name</h5>
                <p class="mb-0" style="fill:#A27868;">Location:<span style="color:#CCB2A8;"> @eventt.Location </span></p>
                <p class="mb-0">Date:<span style="color:#CCB2A8;"> @eventt.Date</span> Time:<span style="color:#CCB2A8;"> @eventt.Time</span></p>

                <p class="mb-0">Working Hours:<span style="color: #CCB2A8;"> @eventt.WorkingHours</span></p>
                    <p class="mb-0">Organisator of the event:<span style="color: #CCB2A8;"> @eventt.EventOrganiser.Name</span></p>
            </div>
            <div class="button-container">
                <span class="button1">
                    <a asp-controller="Event" asp-action="ShowMoreInfo" asp-route-id="@eventt.Id" class="btn custom-button">More Information</a>
                </span>

            </div>
        </div>
    </div>
        }

</div>
